* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px solid teal; */
    font-family: 'Ubuntu', sans-serif;
    
}
.mobile {
    display: none;
}
.navbar {
    width: 100%;
    height: 64px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    height: 32px;
    padding: 0 24px;
    /* border: 1px solid teal; */
    margin: 10px 0 10px 0;
    font-size: 20px;
} 
.left a {
    display: flex;
    align-items: center;
}
.left a strong {
    color: #4c4c4c;
}
.left a span {
    color: #a0a0a0;
}
/* .left img {
    height: auto;

} */

.right {
    width: 30%;
    margin: 0 0 10px 0;
    padding: 24px;
    font-size: 20px;
}
.right ul {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid teal; */
    list-style-type: none;
}
.right ul li a {
    color: #4a4a4a;
}
.container-1 {
    gap: 24px;
    background-color: #d8d8d8;
}
.box-1-1 {
    width: 60%;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
    /* border: 1px solid red; */
}
.box-1-1 img {
    width: 100%;
    height: auto;
}
.box-1-2 {
    width: 30%;
    margin-top: 32px;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: wrap column;
    text-align: center;
    justify-content: center;
    font-size: 40px; 
}
.box-1-2 h1,p {
    color: #4a4a4a;
}
.box-1-2 button {
    width: 60%;
    height: 50px;
    margin: auto;
    padding: 8px;
    background-color: #4a4a4a;
    color: white;
}
.box-2-1 {
    width: 60%;
    margin-top: 32px;
    margin-left: 24px;
    justify-content: center;
    font-size: 20px; 
}
.box-2-2-0-0-mobile {
    display: none;
}

.box-2-1 img {
    width: 100%;
    height: auto;
    padding: 20px;
}
.box-2-2 {
    width: 40%;
    margin-top: 32px;
    /* border: 1px solid red; */
    gap: 10px;
}

.box-2-2-0 {
    display: flex;
    font-size: 18px;
    transition: all 0.5s ease-in 0.1s;
}
.box-2-2-0:hover {
    background-color: lightgray;
}

.box-2-2-0-0 {
    width: 35%;
    height: auto;
    margin: 16px 16px 16px 16px;
}
.box-2-2-0-1 {
    width: 65%;
    margin: 16px 16px 16px 16px;
}
.box-2-2-0-1 h3 {
    margin-bottom: 8px;
}
.box-2-2-0-0 img {
    width: 100%;
    height: auto;
}
.box-3-1 {
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 32px;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    
}
.container-3 div h1 {
    text-align: center;
}
.box-3-1 div img {
    width: 100%;
}
.box-3-1-0 {
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease-in 0.1s;
}
.box-3-1-0:hover {
    background-color: lightgray;
    /* max-width: 28%; */
}
.box-3-1-0 div h4,span {
    margin-bottom: 10px;
    font-size: 20px;
}
.container-4-text {
    text-align: center;
}
.box-4 {
    display: flex;
}
.box-4-1 {
    width: 60%;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 18px;
}
.box-4-1 h4 {
    margin-bottom: 8px;
    font-size: 20px;
}
.box-4-2 {
    width: 40%;
}
.box-4-2-1 {
    display: flex;
    transition: all 0.5s ease-in 0.1s;
}
.box-4-2-1:hover {
    background-color: lightgray;
}
.box-4-image {
    width: 35%;
    height: auto;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.box-4-image img {
    width: 100%;
    height: auto;
}

.box-4-text {
    width: 65%;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    padding-right: 16px;
}
.box-4-text h4 {
    margin-bottom: 8px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4a4a4a;
    align-items: flex-start;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    font-size: 18px;
    
}
.footer-right {
    width: 8%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    font-size: 18px;
}

a {
    color: #4a667c;
}

@media only screen and (max-width: 650px) {
    .navbar {
        display: none;
    }

    .mobile {
        display: block;
        width: 100%;
        height: 4.5rem;
        text-align: center;
        padding-top: 10px;
    }

    .links ul {
        display: flex;
        list-style-type: none;
    }

    header li {
        margin: 0 2.5rem;
    }

    .mobile img {
        height: 3rem;
        width: auto;
        vertical-align: middle;
    }
    .container-1 {
        display: block;
        flex-direction: column;
        width: 115%;
        margin: auto;
        padding-bottom: 24px;
    }
    .box-1-1 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .box-1-1 img {
        width: 100%;
        height: auto;
    }
    .box-1-2 {
        display: block;
        margin-top: 32px;
        /* border: 1px solid red; */
        margin: auto;
        display: flex;
        flex-flow: wrap column;
        text-align: center;
        font-size: 20px; 
    }
    .box-1-2 h1 {
        margin-bottom: 32px;
    }
    .box1-1-2 p {
        margin-bottom: 24px;
    }
    .box-1-2 button {
        width: 100%;
        height: 50px;
        margin: auto;
        padding: 8px;
        background-color: #4a4a4a;
        color: white;
    }
    .container-2 {
        display: block;
        flex-direction: column;
    }
    .box-2-1 {
        display: none;
    }
    .box-2-2 {
        width: 100%;
    }
    .box-2-2-0 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .box-2-2-0-0 {
        width: 100%;
        height: 300px;
        margin: 16px 16px 16px 16px;
    }
    .box-2-2-0-0 img {
        width: 100%;
        height: 100%;
    }
    #box-2-2-3 {
        background-color: white;
    }
    .box-2-2-0-0 {
        display: none;
    }
    .box-2-2-0-0-mobile {
        display: block;
    }
    .box-2-2-0-1 p {
        display: block;
    }

    .container-3 img,p,span {
        display: none;
    }

    .box-3-1 {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .box-3-1-0 {
        background-color: lightgray;
        opacity: 0.9;
        /* margin: 0.5rem 1.5rem; */
        width: 100%;
    }

    .box-3-1-0:hover {
        max-width: 100%;
    }

    .container-3 h3 {
        font-size: 2rem;
    }

    .container-4-text {
        background-color: ghostwhite;
        padding: 2rem 0 2rem 1.5rem;
        text-align: center;
        margin: 1.5rem 0;
    }
    .box-4-1 {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .box-4-1-2 {
        display: none;
    }
    .box-4-2 {
        display: none;
    }
    video {
        width: 100%;
        height: auto;
        display: block;
    }



    .footer-right {
        display: none;
    }

    footer p {
        display: block;
        font-size: 1.25rem;
    }

    footer {
        border: none;
    }
}